@media screen and (min-width: 768px) {
  .section2-item {
    width: 48%;
  }
  .section2-content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }
  .section3-gallery {
    columns: 2;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .container .about {
    flex-basis: 45%;
    order: -1;
  }
  .media-icons {
    display: flex;
    justify-content: space-around;
  }
  .media-icons i {
    padding: 0;
  }
  .footer .container .subscription {
    order: 1;
  }
  .subscription .second {
    width: 100%;
    background-color: var(--black);
  }
  .subscription .second .text {
    display: inline-block;
    width: 80%;
    padding: 0;
    margin: 0;
  }
  .subscription .second .text input {
    width: 100%;
    height: 38px;
  }
  .subscription .second .second-button {
    display: inline-block;
    width: 18%;
  }
  .subscription .second .second-button button {
    height: 38px;
  }
  .footer .container .fourth {
    width: 45%;
    padding: 0px;
    margin: 20px 55px 0 0;
  }
}
@media screen and (min-width: 1024px) {
  .nav-bar-list {
    display: inline-block;
  }
  .nav-res {
    display: none;
  }
  .header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    padding: 70px 5px 60px 5px;
  }
  .header-image {
    flex-basis: 38%;
    order: 1;
  }
  .header-content {
    flex-basis: 50%;
  }
  .header-buttons {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
  }
  .header-buttons .first-button {
    border-radius: 0px 100px 100px 100px;
  }
  .header-buttons .second-button span {
    padding-top: 14px;
    padding-left: 5px;
  }
  .button-icon {
    display: flex;
  }
  .section2-item {
    width: 30%;
  }
  .section2-content {
    display: flex;
    column-gap: 25px;
    justify-content: center;
  }
  .section3-gallery {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 50px 0;
  }
  .section3-item {
    flex-basis: 30%;
  }
  .section3-header {
    padding-top: 80px;
  }
  .section3-gallery {
    padding: 0 0 75px 0;
  }
  .section4-header {
    padding: 30px;
  }
  .section4-header h2 {
    margin: 0;
  }
  .section4-content .contact {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
    margin-top: 15px;
  }
  .section4-content .contact .item {
    flex-basis: 49%;
    margin-top: 0px;
  }
  .section4 .form .first-column {
    margin-bottom: 8px;
  }
  .section4 .form .second-column {
    margin-bottom: 8px;
  }
  .section4 .form .second-column input {
    height: 55px;
  }
  .section4 .form .third-column {
    margin-bottom: 8px;
  }
  .section4 .form .first-column .first,
  .second {
    display: inline-block;
    width: 49.3%;
    background-color: var(--white);
    padding: 0;
    margin-left: 3px;
  }
  .section4 .form .section4-button {
    text-align: center;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .container .about {
    flex-basis: 25%;
    order: -1;
  }
  .media-icons {
    display: flex;
    justify-content: space-around;
  }
  .media-icons i {
    padding: 0;
  }
  .footer .container .subscription {
    flex-basis: 38%;
    order: 1;
  }
  .subscription .second {
    background-color: black;
    display: flex;
    width: 100%;
  }
  .subscription .second .text {
    width: 76%;
    padding: 0;
    margin: 0;
  }
  .subscription .second .text input {
    width: 100%;
    height: 38px;
  }
  .subscription .second .second-button {
    width: 22%;
    margin-left: 4px;
  }
  .subscription .second .second-button button {
    height: 38px;
  }
  .footer .container .fourth {
    margin: 0;
    flex-basis: 32%;
    padding: 20px;
    order: 2;
  }
}
