*,
*::before,
*::after {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(32, 32, 32);
  border-radius: 10px;
}
*::selection {
  color: var(--white);
  background-color: var(--dark-red);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
:root {
  --nav: #ffffff;
  --white: white;
  --dark-red: #d85454;
  --main-color: #ce1212;
  --black: black;
  --color3: #eeeeee;
  --color6: #f5f5f5;
  --color7: #7d7d7d;
  --color8: #212529;
  --color9: #e61414;
  --color10: #37373f;
  --color11: #7f7f90;
}
.nav-bar-icon .sun {
  display: none;
}
.nav-bar-icon i {
  cursor: pointer;
  color: var(--black);
}
:root:has(#theme-toggler:checked) .nav-bar-icon .sun {
  display: block;
}
:root:has(#theme-toggler:checked) .nav-bar-icon .dark {
  display: none;
}
:root:has(#theme-toggler:checked) {
  --nav: #171717;
  --white: #202020;
  --black: white;
  --dark-red: #926321;
  --main-color: #c17e1f;
  --color3: #252525;
  --color8: #ffffff;
  --color10: #ffffff;
  --color11: #9f9f9f;
  --color6: #0d0d0d;
  --color7: #adadad;
  --color8: #ffffff;
  --color9: #d78c23;
}
.container {
  width: 90%;
  margin: auto;
}
img {
  width: 100%;
}
.nav-bar {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--nav);
  box-shadow: 0px 0px 14px 0px #0000001b;
}
.nav-bar .container {
  display: flex;
  align-items: center;
}
.logo h1 a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: var(--color8);
}
ul {
  display: flex;
  gap: 0 25px;
}
li {
  list-style: none;
  font-size: 17px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
li a {
  text-decoration: none;
  color: #7f7f90;
  position: relative;
  transition: color 0.3s;
}
.nav-bar-list li a::before {
  content: "";
  width: 0;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: var(--main-color);
  transition: width 0.3s ease-in-out;
}
.logo h1::after {
  content: ".";
  color: var(--main-color);
}
.nav-bar-icon {
  font-size: 25px;
  font-weight: 900;
}
.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body:has(.header:target) .home-link::before,
body:has(.section2:target) .chefs-link::before,
body:has(.section3:target) .gallery-link::before,
body:has(.section4:target) .contact-link::before {
  width: 100% !important;
}
body:has(.header:target) .home-link,
body:has(.section2:target) .chefs-link,
body:has(.section3:target) .gallery-link,
body:has(.section4:target) .contact-link {
  color: var(--black) !important;
}
.nav-bar-list li a:hover::before {
  width: 100%;
}
.nav-bar-list li a:hover {
  color: var(--black);
}
.nav-bar {
  display: flex;
  align-items: center;
}
.nav-res ul {
  width: 100%;
  position: fixed;
  background-color: var(--white);
  display: block;
  height: 100%;
  z-index: 99999;
  transform: translateX(100%);
  transition: all 0.6s;
}
.nav-res ul li {
  margin-bottom: 20px;
}
.nav-res i {
  cursor: pointer;
  font-size: 25px;
  color: var(--black);
  margin-right: 10px;
}
.nav-res .close {
  display: none;
}
.nav-bar-list {
  display: none;
}
body:has(#res:checked) .nav-res ul {
  transform: translateX(-30%);
}
body:has(#res:checked) .nav-res .close {
  display: inline-block;
}
body:has(#res:checked) .nav-res .bars {
  display: none;
}
.header {
  background-color: var(--color3);
  text-align: center;
}
.header .container {
  margin-top: 80px;
  padding: 37px 5px;
}
.header-image {
  width: 100%;
}
.header-image img {
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.header-image:hover img {
  animation-name: shake;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes shake {
  from {
    transform: translate(2px, 2px);
  }
  to {
    transform: translate(-2px, -2px);
  }
}
.header-content h2 {
  font-size: 65px;
  font-weight: 700;
  font-family: "Amatic SC", sans-serif;
  color: var(--color10);
  margin: 20px 0 0 0;
}
.header-content p {
  font-family: "Open Sans", sans-serif;
  color: #4f4f5a;
  margin: 20px 0;
}
.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-buttons a {
  text-decoration: none;
  color: var(--white);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
.header-buttons .first-button {
  background-color: var(--main-color);
  margin-right: 20px;
  border-radius: 43px 43px 43px 43px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.5s;
}
.header-buttons .second-button a {
  color: var(--black);
  font-weight: 600;
  transition: all 0.5s;
}
.header-buttons .second-button .button-icon i {
  background-color: var(--white);
  margin-right: 8px;
  padding: 10px 15px;
  border-radius: 50%;
  border: 7px solid var(--main-color);
  border-right-color: transparent;
}
.header-buttons .first-button:hover {
  background-color: var(--color9);
}
.header-buttons .second-button:hover a {
  color: var(--main-color);
}
.section2 {
  padding: 40px 10px;
  text-align: center;
  background-color: var(--white);
}
.section2-header .special {
  font-size: 14px;
  color: #7f7f90;
  font-family: "Inter", system-ui;
  margin: 0;
  padding: 0;
}
.section2-header h2 {
  margin: 0;
  font-size: 50px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  color: var(--black);
}
.section2-header h2 span {
  color: var(--main-color);
}
.section2-item {
  overflow: hidden;
  position: relative;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  margin-top: 20px;
}
.section2-item h3 {
  font-size: 18.72px;
  font-weight: 700;
  font-family: "Inter", system-ui;
  margin: 5px;
  color: var(--black);
}
.section2-item span {
  font-size: 14px;
  color: var(--color11);
  font-family: "Open Sans", sans-serif;
}
.section2-item p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: var(--color11);
  margin: 10px;
  font-style: italic;
}
.section2-logos ul {
  display: block;
  padding: 5px 13px;
}
.section2-logos li {
  margin-bottom: 10px;
}
.section2-logos ul i {
  font-size: 18px;
  color: rgba(169, 159, 159, 0.9);
}
.section2-logos {
  position: absolute;
  top: 35px;
  right: 0px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateX(100%);
  transition: all 0.3s 0.3s ease-out;
}
.section2-item:hover {
  transform: scale(1.05);
}
.section2-item:hover .section2-logos {
  transform: translateX(0);
  margin-right: 10px;
}
.section2-logos i:hover {
  color: black;
}
.section3 {
  background-color: var(--color3);
  text-align: center;
}
.section3-header {
  padding: 70px 0 30px 0;
}
.section3-header span {
  color: var(--color11);
  font-size: 14px;
  font-family: "Inter", system-ui;
  font-weight: 400;
}
.section3-header h2 {
  font-size: 50px;
  color: var(--black);
  font-family: "Amatic SC", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.section3-header h2 span {
  font-size: 50px;
  color: var(--main-color);
  font-family: "Amatic SC", sans-serif;
}
.section3-image {
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.section3-image {
  border: 4px white solid;
}
.anim h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Inter", system-ui;
  color: white;
  margin: 0;
}
.anim p {
  color: #dddddd;
  font-family: "Open Sans", sans-serif;
}
.section3-item .anim {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: all 0.5s;
  padding: 10px;
}
.section3-image:hover .anim {
  transform: translateY(0);
}
.section4 {
  background-color: var(--white);
}
.section4-header {
  text-align: center;
}
.section4-header span {
  font-size: 14px;
  font-family: "Inter", system-ui;
  color: var(--color11);
}
.section4-header h2 {
  margin: 20px;
  font-size: 50px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  color: var(--black);
}
.section4-header h2 span {
  font-size: 50px;
  font-family: "Amatic SC", sans-serif;
  color: var(--main-color);
}
.map iframe {
  width: 100%;
  height: 380px;
}
.contact {
  display: flex;
  flex-wrap: wrap;
}
.item {
  display: flex;
  flex-basis: 100%;
  background-color: var(--color6);
  margin-top: 20px;
  align-items: center;
  padding: 0 0 0 20px;
}
.item h3 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter", system-ui;
  color: var(--color7);
  margin: 0 0 5px 0;
}
.item p {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: var(--color8);
}
.item-content span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: var(--color8);
}
.item-content {
  padding: 20px;
}
.item .icon {
  background-color: var(--main-color);
  border-radius: 50%;
  padding: 15px;
}
.item .icon i {
  font-size: 18px;
  color: var(--white);
}
.form {
  background-color: var(--nav);
  margin: 20px 0 0 0;
  box-shadow: 0 0 1.875rem #00000014;
  padding: 20px;
}
.form input {
  width: 100%;
  height: 50px;
  padding-left: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  font-family: "Open Sans", sans-serif;
}
.form textarea {
  padding: 15px 13px;
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
}
.form input:focus {
  outline: none;
  border: var(--main-color) solid 2px;
}
.form textarea:focus {
  outline: none;
  border: var(--main-color) solid 2px;
}
.section4-button {
  text-align: center;
}
.section4-button button {
  border: none;
  border-radius: 20px;
  background-color: var(--main-color);
  padding: 13px 35px;
  cursor: pointer;
  transition: all 0.6s;
}
.section4-button a {
  text-decoration: none;
  color: var(--white);
}
.section4-button button:hover {
  background-color: var(--main-color);
}
.footer {
  background-color: black;
  color: white;
  padding: 0 0 20px 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.footer h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.footer h3 {
  font-size: 18.72px;
  font-weight: 700;
  font-family: "Inter", system-ui;
}
.footer .first img {
  width: 40px;
  height: 40px;
}
.footer .first {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 40px 0 10px;
}
.footer .first h2::after {
  content: ".";
  color: var(--main-color);
}
.footer .first h2,
p {
  margin: 0;
}
.social-media h3 {
  position: relative;
  padding-bottom: 5px;
}
.social-media h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-bottom: solid #585858 1px;
}
.social-media {
  text-align: center;
}
.media-icons {
  display: flex;
  justify-content: space-between;
}
.media-icons i {
  font-size: 24px;
  font-weight: 400;
  padding: 0 40px;
}
.media-icons a {
  color: white;
}
.subscription .first {
  display: block;
}
.subscription .first h3 {
  margin: 0 0 8px 0;
}
.subscription .second .text input {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  margin-bottom: 8px;
}
.subscription .second {
  background-color: black !important;
}
.subscription button {
  border-radius: 2px;
  background-color: var(--main-color);
  width: 100%;
  height: 35px;
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: all 0.4s;
}
.subscription .second-button button:hover {
  background-color: var(--color9);
}
.quick-menus-container {
  margin: 0;
}
.quick-menus ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  column-gap: 10px;
  padding-right: 40px;
}
.quick-menus a {
  color: white;
}
.quick-menus li {
  font-size: 16px;
  flex-basis: 45%;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s;
}
.quick-menus li:hover {
  transform: translateX(10px);
  background-color: rgba(211, 211, 211, 0.2);
}
.fourth-list ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.fourth-list li {
  flex-basis: 100%;
  padding-bottom: 13px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.fourth-list li span {
  padding-left: 10px;
}
.fourth-list li i {
  color: var(--main-color);
  font-size: 22px;
  font-weight: 900;
}
